body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: fit-content;
    display: inline-block;
}

h1 {
    font-size: 40px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 5px;
}

.instructions {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border-radius: 10px;
    border: 3px solid #333;
    overflow: hidden;
}

.square {
    outline: #333 solid 1px;
    background-color: #daedfc;
    transition: background-color 0.25s ease;
}

.square.dark {
    background-color: #779556;
}

.square.light {
    background-color: #ebecd0;
}

.square.wrong {
    background-color: #de4a40;
}

#overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    color: rgba(255, 255, 255, 0.9);
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes flashyExit {
    25%, 100% {
        transform: scale(1.75);
        opacity: 0;
    }
}

#stopwatch-container {
    font-size: 23px;
    color: #444;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    pointer-events: none;
}